<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1030</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="col-container">
        <div class="logo"><img src="./assets/logo.svg" alt="logo" srcset=""></div>
        <div class="login-section">
            <input type="text" placeholder="Username or email">
            <input type="text" placeholder="Password">
            <label for="keepSigned" class="keep-signed">
                    <input type="checkbox" name="keep-signed" id="keepSigned" value="true">
                <label for="keepSigned" class="checkBtn"><span></span></label> Keep me signed in
            </label>
        </div>
        <button class="login-btn">Sign in</button>
    </div>
</body>

</html>